template(name="home")
    .Aligner
        .Aligner-item.Aligner-item-top
        .Aligner-item
            .row
                h1(id="custom") What would you like to plan for
            .row
                .col.l4
                    img(src="/images/category_invest.png")
                    p Grow my wealth
                .col.l4
                    img(src="/images/category_retire.png")
                    p Retire Happy
                .col.l4
                    img.circle(src="/images/healthicon.png")
                    p Guard Against Illness
        .Aligner-item.Aligner-item-bottom
